{
  "peer_id": "{{ .PeerID }}",
  "interface": "{{ .Interface }}",
  "client_ipv4": "{{ .ClientIPv4 }}",
  "peer_public_key": "{{ .PeerPublicKey }}",
  "peer_private_key": "{{ .PeerPrivateKey }}",
  "preshared_key": "{{ .PresharedKey }}",
  "allowed_ips": "{{ .AllowedIPs }}",
  "endpoint": "{{ .Endpoint }}",
  "created_at": "{{ .CreatedAtRFC3339 }}",
  "note": "{{ .Note }}"
}
